package ${package}.dao.impl;

import com.baomidou.mybatisplus.extension.service.impl.ServiceImpl;
import ${package}.dao.${className}Dao;
import ${package}.dao.mapper.${className}Mapper;
import ${package}.entity.${className};
import org.springframework.stereotype.Service;

/**
 * ${comments}
 *
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
@Service
public class ${className}DaoImpl extends ServiceImpl<${className}Mapper, ${className}> implements ${className}Dao {

}
